# Bot Configuration
BOT_TOKEN=8332130546:AAFT53hxkeixgH5ZeJYmDKP2eIYxrhhdN3Q
MODE=polling
# MODE=webhook

# Webhook Configuration (only if MODE=webhook)
WEBHOOK_URL=https://yourdomain.com
PORT=3000

# Database
MONGO_URI=mongodb+srv://system_admin:03SYhEefMid7oNbF@cluster0.fybs1dt.mongodb.net/dev?retryWrites=true&w=majority&appName=Cluster0

# Notification Schedule (cron format)
NOTIFICATION_CRON=0 9 * * *

# Slash API Configuration
SLASH_API_KEY=bf072dbbed557a6953bc08d675c73c2d99db6e599eada9a62d2ab32cfa1deb3a
SLASH_BASE_URL=https://api.joinslash.com
SLASH_TIMEOUT=30000
SLASH_WEBHOOK_SECRET=-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAq4+a15r2X7AU0erQGfNv
aNm4Rxd4XEFBIk+kARNydOaM0YoT56h07BD98KEQth7J3FWnSZL/gbv0rKrn5HhM
BMVloueB3irr+9mg6ORQ5ug0NVYnaQpGIaEjlrBdjrdk5gPepT6ztbaYSnfl8lzH
5JGc0Gq38HO2cfZlXQHT4mKy7im6Pa76z6NcXOaUh8O7lvskC1ckhhoGz8p4pd3v
wJi5YFwRAjFmJ8FRYhbPZXpTW796rH6EhIMkjHbVwf6yTKmiHeaXQ/14jcqhUJan
0mrF9cV3tgzb+l2XMDDKQlQGsfyGGdmE1APnQb6MK1IB/iVt8ntEQ8deKgkwH/wi
NQIDAQAB
-----END PUBLIC KEY-----
SUPER_ADMIN_TOKEN=08f0491bd7ff6d9f2b5e020cb302772499373e243e9dd068308f6155538c7a95
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
EXPORT_SECRET=5e5c66391efae7b42680c43d39fc9c552eb9d5d65b7d4fa75daffa650669ff99
RESOURCE_BASE_URL=http://api.orinety.shop