# Bot Configuration
BOT_TOKEN=8332130546:AAFT53hxkeixgH5ZeJYmDKP2eIYxrhhdN3Q
MODE=polling
# MODE=webhook

# Webhook Configuration (only if MODE=webhook)
WEBHOOK_URL=https://yourdomain.com
PORT=3000

# Database
MONGO_URI=mongodb+srv://system_admin:03SYhEefMid7oNbF@cluster0.fybs1dt.mongodb.net/dev?retryWrites=true&w=majority&appName=Cluster0

# Notification Schedule (cron format)
NOTIFICATION_CRON=0 9 * * *

# Slash API Configuration
SLASH_API_KEY=bf072dbbed557a6953bc08d675c73c2d99db6e599eada9a62d2ab32cfa1deb3a
SLASH_BASE_URL=https://api.joinslash.com
SLASH_TIMEOUT=30000
SLASH_WEBHOOK_SECRET=""
SUPER_ADMIN_TOKEN=08f0491bd7ff6d9f2b5e020cb302772499373e243e9dd068308f6155538c7a95
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
EXPORT_SECRET=5e5c66391efae7b42680c43d39fc9c552eb9d5d65b7d4fa75daffa650669ff99
RESOURCE_BASE_URL=http://api.orinety.shop